Keep the IP address through DHCP the same after restarting

**Is your feature request related to a problem? Please describe.**
The IP address got through DHCP will be changed after restarting Kube-vip. We hope that the IP address can keep the same.
 
**Describe the solution you'd like**
Normally, the DHCP server allocates the same IP address if the hardware address is not changed. It's possible to get the same IP address.

version: v0.3.5


> **Is your feature request related to a problem? Please describe.**
> The IP address got through DHCP will be changed after restarting Kube-vip. We hope that the IP address can keep the same.
> 
> **Describe the solution you'd like**
> Normally, the DHCP server allocates the same IP address if the hardware address is not changed. It's possible to get the same IP address.
> 
> version: v0.35



@thebsdbox  The DHCP client implementation by v0.3.5 may miss generating DHCPREQUEST during `INIT-REBOOT` state according to section 4.3.2 in RFC2131. I try to add the function, but it always receives `INFO[0000] Temporary error: DHCP: received DHCPNAK (waiting 10s)` in my testing. 

I make it with the package `"github.com/insomniacslk/dhcp/dhcpv4"`. Here is the demo.

``` go
package main

import (
	"context"
	"flag"
	"fmt"
	"net"
	"time"

	"github.com/insomniacslk/dhcp/dhcpv4"
	"github.com/insomniacslk/dhcp/dhcpv4/nclient4"
	"github.com/vishvananda/netlink"
)

var iface string

func init() {
	flag.StringVar(&iface, "iface", "", "")
}

func main() {
	flag.Parse()
	broadcastClient, err := nclient4.New(iface)
	if err != nil {
		fmt.Println("create broadcast dhcp client failed, error: ", err)
		return
	}

	c := &Client{
		iface: iface,
		broadcast: broadcastClient,
	}

	lease, err := c.initReboot()
	if err != nil {
		fmt.Printf("init reboot failed, error: %+v\n", err)
		return
	}

	fmt.Printf("lease: %+v\n", lease)
}

type Client struct {
	iface string
	broadcast *nclient4.Client
	lease *nclient4.Lease
}

func (c *Client) initReboot() (*nclient4.Lease, error) {
	link, err := netlink.LinkByName(c.iface)
	if err != nil {
		return nil, err
	}

	addrList, err := netlink.AddrList(link, netlink.FAMILY_V4)
	if err != nil {
		return nil, err
	}
	if len(addrList) == 0 {
		return nil, fmt.Errorf("without IP address")
	}

	fmt.Println("hwaddr: ", link.Attrs().HardwareAddr)
	fmt.Println("requestedIP: ", addrList[0].IP)

	message, err := dhcpv4.New(
		dhcpv4.WithMessageType(dhcpv4.MessageTypeRequest),
		dhcpv4.WithHwAddr(link.Attrs().HardwareAddr),
		dhcpv4.WithOption(dhcpv4.OptRequestedIPAddress(addrList[0].IP)),
	)
	if err != nil {
		return nil, fmt.Errorf("new dhcp message failed, error: %w", err)
	}

	response, err := c.broadcast.SendAndRead(context.TODO(), c.broadcast.RemoteAddr(), message, nclient4.IsMessageType(dhcpv4.MessageTypeAck, dhcpv4.MessageTypeNak))
	if err != nil {
		return nil, fmt.Errorf("got an error while processing the request: %w", err)
	}
	if response.MessageType() == dhcpv4.MessageTypeNak {
		return nil, &nclient4.ErrNak{
			Offer: message,
			Nak:   response,
		}
	}
	lease := &nclient4.Lease{}
	lease.ACK = response
	lease.Offer = message
	lease.CreationTime = time.Now()
	return lease, nil
}
```

Ah ok! I love the testing and demo! I'm going to be a little slow in testing this until next week, but if you get a working fix then I'd love a PR :-)

> Ah ok! I love the testing and demo! I'm going to be a little slow in testing this until next week, but if you get a working fix then I'd love a PR :-)

Kube-vip now uses package "github.com/google/gopacket" to implement DHCP client. I meet some error when adding an initReboot function with this package. I will push a pr and can you help me to find the error reason? I make the initReboot function work with package "github.com/insomniacslk/dhcp/dhcpv4", but it's so different. 

Yeah, we moved to a different package due to prior package having a bad license. Pretty sure we can work something out with DHCP though :-) 

Howdy! I'm back, was any progress made on this?

> Howdy! I'm back, was any progress made on this?

I have finished the development. I will submit a pr tomorrow or the day after.

Excellent work ! 

Thanks so much  for the PR :D 